<%= provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<h3>Admins</h3>
<ul class = "admins">
	<%= render @admins %>

</ul>
<h3>Customers</h3>
<ul class = "customers">
	<%= render @customers %>
</ul>

<%= will_paginate %>