<!DOCTYPE html>
<html>
<head>
  <title>LoginApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="page-container">
		<%= render 'layouts/navigation' %>
		<div class="container">
			<div class="row ">
				<div class="col-xs-12 col-sm-9">
					<% flash.each do |name, msg| %>
						<%= content_tag :div, msg, id: "flash#{name}" %>
					<% end %>

					<%= yield %>


					<%= debug(params) if Rails.env.development? %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
